.height-img{
    height: 300px;
}

main {
    margin-top: 2em;
}

.navbar-collapse {
    flex-grow: 0;
}

.recipe-list ul {
    list-style: none;
}

.recipe-list h2,
.directions-recipe h2 {
    text-align: center;
}

.text-align-center {
    text-align: center;
}

/* responsive design elements */



@media screen and (max-width: 990px) {
    .responsive {
        display: flex;
        flex-direction: row-reverse;
    } 
    
}
