.height-img {
    height: 250px;
}

main {
    margin-top: 2em;
}

.navbar-collapse {
    flex-grow: 0;
}

.recipe-list ul {
    list-style: none;
}

.recipe-list h2,
.directions-recipe h2 {
    text-align: center;
}
